<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>react-vite</title>
    <script type="module" crossorigin src="/assets/assets/index-D5gPgNRW.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/assets/rolldown-runtime-B1FJdls4.js">
    <link rel="modulepreload" crossorigin href="/assets/assets/vendor-DFLzLApt.js">
    <link rel="stylesheet" crossorigin href="/assets/assets/vendor-CqLr8KVv.css">
    <link rel="stylesheet" crossorigin href="/assets/assets/index-d6hnJMjc.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
